<% @title = "Modification du contenu '%{name}'".trn(:name => @content_detail.name) %>

<div class="cadre">
	<h2><%= image_tag("appli/48/setup.png", {:alt => @title, :align => "middle"}) %><%= @title %></h2>
    <ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "list"}%></li>
    </ul>

	<div id="dynamic_content">
		  <%= render :partial => 'dynamic_content' %>
	</div>


</div>

<script>
	$(document).ready(function() {
		init_toggle_by_ref();
	});
</script>
