<div class='panel_t_slide' style="display:none;" alt='<%="Menu système".trn%>'>
	<div style=" padding: 5px ;display: inline-block;"class="alert alert-warning">
		<%= generate_menu("menu_system") %>
	</div>
</div>
