<% return unless session[:flag_admin] %>

    <div class="navbar navbar-default navbar-fluid-top">
        <div class="container pull-left form-horizontal">
		  <%= label_tag('site_id', 'Sélectionner un site'.trn + ' : ',{:class=> "col-sm-2 control-label"}) %>
		  	<div class="col-sm-3">
          		<%= collection_select(:site, :id, EsSite.order("code"), :id, "complete_name", {:selected => session[:current_site_id]},{:class => "form-control"}) %>
	        </div>
        </div>
    </div>


<script>
	$(document).ready(function() {
		$('#site_id').on("change",function(e) {  
		    var valuesToSubmit = $('#site_id').serialize();
			$.ajax({
	        url: '/es_sites/change_default_site',
	        data: valuesToSubmit,
	        dataType: 'script',
		    });	    
		    return false;
		}
		
		);	
	});
</script>
