  <div class="container-fluid">
      <div class="row-fluid">
		<form class="form-inline">
				<label class="control-label" for="selection_es_template_id">Template :</label>
		        <%=  collection_select(:selection, :es_template_id, @template_list, :id, :description, {:prompt => "",:selected => @template_id},{:size=>5, :ajax_action => "config_content"}) %>
	
				<label class="control-label" for="selection_es_part_id">Partie :</label>
		        <%=  collection_select(:selection, :es_part_id, @part_list, :id, :description, {:prompt => "",:selected => @part_id}, {:size=>5, :ajax_action => "config_content"}) %>

				<label class="control-label" for="selection_es_content_detail_id">Contenu :</label>
		        <%=  collection_select(:selection, :es_content_detail_id, @content_detail_list, :id, :sequence, {:prompt => "",:selected => @content_detail_id},{:size=>5, :ajax_action => "config_content"}) %>
		</form>
      </div>
  </div>

	<script>
		initajaxplus();			
	</script>
	