<%
	back = false if back.nil?  
	image = "" if image.nil?  
	
	text_html = "" if text_html.nil?
	text_html = text_html.html_safe unless text_html.blank?
	if text_html.blank?
		text = "back" if text.nil?
	else
		text = text_html
	end
	

	confirm = "" if confirm.nil?   
	form = "" if form.nil?   
	controller = "" if controller.nil?  
	action = "index" if action.nil? && !form.blank? && !controller.blank?
	id = "" if id.nil?

	check = "false" if check.nil?
	check = 'true' unless confirm.blank?

	checkbox = "false" if check.nil?
	class_btn = "goto_btn" if class_btn.nil?
	id_btn = "" if id_btn.nil?
	param_goto = {} if param_goto.nil?
	html_option = {} if html_option.nil?


	if back
		controller 	= session[:back_controller] 
		action 		= session[:back_action] 	
		id 			= session[:back_id] 		
		param_goto 	= session[:back_params] 	
	end
	
	url_hash = {}
	url_hash[:controller] = controller unless controller.blank?  
	url_hash[:action] = action unless action.blank?  
	url_hash[:id] = id unless id.blank?  
	url_hash = url_hash.merge(param_goto) unless param_goto.blank?
	
	url_hash = "#" if action == "#"
	option_hash = html_option
	option_hash = option_hash.merge({:confirm => (confirm.blank? ? "Voulez vous vraiment réaliser cette action ?".trn : confirm)}) if check == 'true' && (form.blank? || !confirm.blank?)	

	if image.blank?
		link = text
	else
		link = image_tag(image, {:alt => text}) + "#{'<br />' + text}".html_safe
	end
	
	unless form.blank?
		url = url_hash.blank? ? "" : url_for(url_hash)
		if checkbox == 'true'
		    javascript = "checkAndSubmitForm('#{form}', '#{url}', #{check})"
		else
		    javascript = "questionAndSubmitForm('#{form}', '#{url}', #{check})" 
		end
	end 
%>



<div class="<%=class_btn%>" <%=id_btn.blank? ? "" : "id='#{id_btn}'"%>>
	<%if form.blank? && controller.blank? && action.blank? %>
		<%= submit_tag text %>
	<%else%>
		<%= !form.blank? ? link_to_function(link, javascript,option_hash ) : link_to(link, url_hash, option_hash) %>
	<%end%>
</div>
