<%
	back = false if back.nil?  
	image = "" if image.nil?  
	
	text_html = "" if text_html.nil?
	text_html = text_html.html_safe unless text_html.blank?
	if text_html.blank?
		text = "back" if text.nil?
	else
		text = text_html
	end
	
	url_text = "" if url_text.nil?

	confirm = "" if confirm.nil?   
	form = "" if form.nil?   
	controller = "" if controller.nil?  
	action = "index" if action.nil? && !form.blank? && !controller.blank?
	id = "" if id.nil?
	javascript_function = "" if javascript_function.nil?

	check = "false" if check.nil?
	check = 'true' unless confirm.blank?

	remote = false if remote.nil?
	checkbox = "false" if check.nil?
	class_btn = "goto_btn" if class_btn.nil?
	id_btn = "" if id_btn.nil?
	param_goto = {} if param_goto.nil?
	html_option = {} if html_option.nil?
	no_div = false if no_div.nil?

	fa = fa.nil? ? "" : "fa #{fa}"
	
	
	if back
		controller 	= session[:back_controller] 
		action 		= session[:back_action] 	
		id 			= session[:back_id] 		
		param_goto 	= session[:back_params] 	
	end
	
	url_hash = {}
	url_hash[:controller] = controller unless controller.blank?  
	url_hash[:action] = action unless action.blank?  
	url_hash[:id] = id unless id.blank?  
	url_hash = url_hash.merge(param_goto) unless param_goto.blank?
	url_hash = url_text unless url_text.blank?
	url_hash = "#" if action == "#"
	option_hash = html_option
	option_hash = option_hash.merge({:confirm => (confirm.blank? ? "Voulez vous vraiment réaliser cette action ?".trn : confirm)}) if check == 'true' && (form.blank? || !confirm.blank?)	
	
	if (remote==true || (option_hash[:remote].present? ? (option_hash[:remote].presence==true) : false))
		option_hash[:remote], remote	= true, true
	else
		option_hash[:remote], remote 	= false, false
	end
	
	link="".html_safe
	
	link=content_tag("i","",{:class => fa}) + "&nbsp;".html_safe unless fa.blank?
	
	if image.blank?
		link += text
	else
		link += image_tag(image, {:alt => text}) + "#{'<br />' + text}".html_safe
	end
	
	
	
	if !javascript_function.blank?
		msg_confirm 	= option_hash[:confirm].presence || "Etes vous certain de vouloir exécuter cette action ?".trn
		msg_confirm		= msg_confirm.gsub('"','')
		javascript 		= 'questionAndFuntion("' + javascript_function + '", ' + check + ', "' + msg_confirm + '")'
	else !form.blank?
		url = url_hash.blank? ? "" : url_for(url_hash)
		remote_option = remote ? 'true' : 'false'
		if checkbox == 'true'
			msg_confirm 	= option_hash[:confirm].presence || "Voulez vous vraiment exécuter cette action sur les éléments sélectionnés ?".trn
			msg_confirm		= msg_confirm.gsub('"','')
			msg_no_selected = "Aucun élément sélectionnés".trn
		    javascript 		= 'checkAndSubmitForm("' + form + '", "' + url + '", ' + check + ', "' + msg_confirm + '", "' + msg_no_selected + '", ' + remote_option + ')'
		else
			msg_confirm 	= option_hash[:confirm].presence || "Etes vous certain de vouloir exécuter cette action ?".trn
			msg_confirm		= msg_confirm.gsub('"','')
		    javascript 		= 'questionAndSubmitForm("' + form + '", "' + url + '", ' + check + ', "' + msg_confirm + '", ' + remote_option + ')' 
		end
	end 
%>


<%unless no_div%>
<div class="<%=class_btn%>" <%=id_btn.blank? ? "" : "id='#{id_btn}'"%>>
<%end%>
	<%if form.blank? && controller.blank? && action.blank? && url_text.blank? %>
		<%= submit_tag text %>
	<%else%>
		<%= (!form.blank? || !javascript_function.blank?) ? link_to_function(link, javascript,option_hash ) : link_to(link, url_hash, option_hash) %>
	<%end%>

<%unless no_div%>
</div>
<%end%>
