<ul class="jqueryFileTree" style="display: none;">
	
    <% @setups[0].each do |branch| %>
		<li class="selectable directory collapsed"><a href="#" rel="<%=@parent + branch %>/"><%= branch %></a></li>
    <%end%>
	<% @setups[1].each do |setup|%>
	    <li class="file ext_txt"><a href="#" rel="<%=@parent + setup %>"><%= setup %></a></li>
    <% end %>


</ul>
