<% @title = "Voir un élément '%{element}'".trn(:element =>@setup_controller[:instance_name]) %>
<h2><%=@title%></h2>
<%= form_tag({}, { :name => 'update_form', :class => 'form-horizontal' }) do%>

	<ul>
		<li class="btn btn-default"><%= render :partial => 'shared/goto_menu_item', :locals => {:back => true, :text => "Retour".trn,:image => "appli/32/arrow_left.png", :action => "list", :param_goto => {:parent_id => (@parent.blank? ? "" : @parent.id)}, :html_option => {:remote => @type_request=='ajax'}}%></li>
	</ul>
	
	<div>
	  <%= render 'shared/dynamic/form' %>
	</div>

<% end %>
