<!--DRAFT_3_1_0_0 - E6406 - 05.02.2014 - Dynamic crud-->
<% @title = "Voir '#{@controller_setup[:instance_name]}'" %>

<%= form_tag({}, { :name => 'update_form', :class => 'form-horizontal' }) do%>

	<div class="center-menu">
		<ul>
			<li class="btn"><%= render :partial => 'shared/goto_menu_item', :locals => {:back => true, :text => "Retour",:image => "appli/back_32.png", :action => "list", :param_goto => {:parent_id => (@parent.blank? ? "" : @parent.id)}}%></li>
		</ul>
		<div class="clearer"></div>
	</div>
	
	<div>
	  <%= render 'shared/dynamic/form' %>
	</div>

<% end %>
