/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require menu
 ** => pas de css menu_option ici, uniquement en dernier dans application.html
 *= require jquery-ui-1.10.3.custom
 *= require bootstrap-datetimepicker
 *= require drag_drop.css
 *= require fontpicker.css
 *= require filepicker.css
 *= require postit.css
 *= require filestyle.css
 *= require jquery.treeview.css
 *= require select2.min.css
 *= require_self
 * require_tree .
 */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: inherit;
}

.input-group-addon, .input-group .input-group-addon {
     height: inherit;
}

tr.inactive_row { 
        background-color: #EDE9E4; 
        font-style: italic      
} 


.field_with_errors {display:inline-block;background-color: #FF0000;}

.thumbnails {
    list-style: none outside none;
    margin-left: -20px;
}

.cadre {
  padding: 10px;
  margin-bottom: 10px;
  color: inherit;
  border-radius: 6px;
}

.encadrement {
  margin : 5px;
  padding: 5px;
  border-style:solid;
  border-width:1px;
  border-color: #000000;
  border-radius: 2px;
}

div#spinner img{
	margin-bottom: 10px;
}

div#spinner {
    background-color: white;
    text-align: center;
    border: #75bdd4 2px solid;
    position: absolute;
    z-index: 999999 !important;
    width: 250px;
	left: 50%; 
	margin-left: -125px;
	top: 50%
}

p#spinner_text {
	margin: 10px;
    font-family: Arial;
    color: #ff6600;
    font-size: 8pt;
    font-weight: bold;
}


.red, .red a {
  color: #f00;
}

.bg-white {background-color: white;}


/*arrangement des propriétés*/
.properties.panel{
	margin-bottom: 5px;
}
.properties .panel-heading {
    padding: 2px 15px;
   }

.properties .panel-body {
    padding: 2px;
   }

.properties .panel-body .form-control{
    padding: 2px;
   }

.properties .panel-body .control-label{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
   }

