/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require menu
 *= require jquery-ui-1.10.3.custom
 *= require bootstrap-datetimepicker
 *= require drag_drop.css

 *= require_self
 * require_tree .
 */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: inherit;
}

.input-group-addon, .input-group .input-group-addon {
     height: inherit;
}

tr.inactive_row { 
        background-color: #EDE9E4; 
        font-style: italic      
} 


.field_with_errors {display:inline-block;background-color: #FF0000;}

.text-error {    color: #B94A48;}

.thumbnails {
    list-style: none outside none;
    margin-left: -20px;
}

.cadre {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  border-radius: 6px;
}

div#spinner img{
	margin-bottom: 10px;
}

div#spinner {
    background-color: white;
    text-align: center;
    border: #75bdd4 2px solid;
    position: absolute;
    z-index: 999999 !important;
    width: 250px;
	left: 50%; 
	margin-left: -125px;
	top: 50%
}

p#spinner_text {
	margin: 10px;
    font-family: Arial;
    color: #ff6600;
    font-size: 8pt;
    font-weight: bold;
}