
.fileTreeview {
  background: white;
  border: 3px solid #ccc;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding:0;
  line-height: 1.2;
  z-index:    10;
  position:   absolute;
  display: block;
  max-height: 300px;
  max-width: 300px;
  min-width: 200px;
  overflow: auto;
}
