
	  <%unless @template_preview.blank?%>
		  <div class="row">
		  	<div class="col-sm-5 col-sm-offset-3">
			  	<%= generate_design_empty(@template_preview.name) %>
			  	
		  	</div>
		  </div>
		  <br />
	  <%end%>
