
<div class="container-fluid">

	<div class="hero-unit center">
		<h1>A server error occured</h1>
		<BR>
		<h3><%=details[:name]%></h3>
	
	</div>
	
	<ul class="nav nav-tabs" id="myTab">
	    <li class="active"><a href="#description" data-toggle="tab">Message</a></li>
	    <li><a href="#detail" data-toggle="tab">Detail</a></li>
	</ul>
	<div class="tab-content">
	    <div class="tab-pane fade in active" id="description">
			<p><%=details[:message]%></p>
	    </div>
	    <div class="tab-pane fade" id="detail">
			<p><small><%=details[:message]%><BR><BR><%= details[:trace]%></small></p>
	    </div>
	</div>

</div>
