
<div class="container">

	<div class="jumbotron center alert alert-warning">
		<h1>Erreur d'exécution de l'application</h1>
		<BR>
		<h2><%=details[:name]%></h2>
	
	</div>
	
	<ul class="nav nav-tabs navbar-nav" id="myTab">
	    <li class="active"><a href="#description" data-toggle="tab">Message</a></li>
	    <li><a href="#detail" data-toggle="tab">Detail</a></li>
	</ul>
	<div class="tab-content">
	    <div class="tab-pane fade in active" id="description">
			<p><%=details[:message]%></p>
	    </div>
	    <div class="tab-pane fade" id="detail">
			<p><small><%=details[:message]%><BR><BR><%= details[:trace]%></small></p>
	    </div>
	</div>

</div>
