

<div class="alert alert-info">
	<h2>Template '<%=Rails.application.config.current_template%>' - Thème '<%=Rails.application.config.current_theme%>'</h2>
	<%= get_content_detail("principal")%>
</div>
