<table cellpadding="4" width="100%" class='table'>
  <tr>
    <th><%="N° ligne".trn%></th>
    <th><%="Colonnes (largeur)".trn%></th>
    <th><%="Vide ?".trn%></th>
  </tr>
  <%= render :partial => 'list_line_item', :collection => @template_lines %>
</table>

