	  <p><%= "Il n'est pas possible de modifier la partie '%{name}', car elle est protégée.".trn(:name => @part.name) %></p> 
	  <!--div class="btn btn-default"><!--%= render :partial => 'shared/goto_menu_item', :locals => {:text => "Retour au dessin".trn,:fa => "fa-long-arrow-left", :action => "#",:html_option => {:id => "back_design"}}%></div-->

<script>

	$(document).ready(function() {
		$( "#back_design" ).click(function() {
			$.ajax({
		        url: "/es_templates/refresh_design/<%=@template.id%>",
		        dataType: 'script'
		    });	    
			return false;
		});		
	});
	
</script>
