	<% if flash[:message_ajax].present? %>
		<div role="alert" class="alert alert-success fade in">
	      <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
	      <%= flash[:message_ajax] %>
	    </div>
	<%   flash.delete(:message_ajax)
	   end %>
	   
	<% if flash[:error_message_ajax].present? %>
		<div role="alert" class="alert alert-danger fade in">
	      <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
	      <%= flash[:error_message_ajax] %>
	    </div>
	<%   flash.delete(:error_message_ajax)
	   end %>

    