




    <table class="table table-bordered table-striped">
   		<tr class='info'>
   			<th>Titre 1</th>
   			<th>Titre 2</th>
   			<th>Titre 3</th>
   		</tr>
   		<tr>
   			<td>line 1 col 1</td>
   			<td>line 1 col 2</td>
   			<td>line 1 col 3</td>
   		</tr>
   		<tr>
   			<td>line 2 col 1</td>
   			<td>line 2 col 2</td>
   			<td>line 2 col 3</td>
   		</tr>
   		<tr>
   			<td>line 3 col 1</td>
   			<td>line 3 col 2</td>
   			<td>line 3 col 3</td>
   		</tr>
    </table>



