	<% if flash[:message_ajax].present? %>
		<div role="alert" class="alert alert-success fade in">
	      <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
	      <%= flash[:message_ajax] %>
	    </div>
	<% end %>

    